form {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(235,215,56);
    font-family: monospace;
}

.form-control {
    width: 350px;
}

#signUpHelp {
    color: rgb(235,215,56);
    font-family: monospace;
    margin-bottom: 30px;
    margin-top: 10px;
}

#signUpHelp a {
    color: rgb(235,215,56);
    font-family: monospace;
    text-decoration: underline dotted rgb(235,215,56);
}

#signUpHelp a:hover {
    color: rgb(223,148,3);
}

.btn {
    background-color: rgb(40,79,166);
    color: rgb(235,215,56);
    border: none;
}

.btn:hover {
    background-color: rgb(28,61,131);
    color: rgb(235,215,56);
}
